/* BODY AND MAIN SECTION RELATED PRESETS */
/* EG. GRADIENT OR BACKGROUND IMAGE */
body {
  height: 100vh;
  background: rgb(0,0,0);
  overflow:hidden;
  font-family: 'Montserrat';
  font-weight: 500;
}

/* MAIN SECTION TYPOGRAPHY */
/* HEADERS AND SUB-HEADERS */

h3,h3+p,h6 {
  color: #ffffff;
}

h3+p {
  font-size: 0.9rem;
}

.container-fluid {
  min-width: 650px;
}


/* LEFT-NAVIGATION AREA */
.col-3 {
  /* Maybe adjust later */
  min-width: 250px;
  max-width: 250px;
}

.left_navbar{
    background-color: #000000;
    color: #828282;
    max-width: 250px;
    height: 100vh;
}

.left_nav_icons {
  font-size: 1.6rem;
}
.left_nav_icons+p {
  font-size: 1rem;
}

.spotify_logo{
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
}
.spotify_logo_section:hover{
cursor:pointer;
}

.spotify_logo_section{
  display: flex;
  justify-content: right;
}
.spotify_logo + p{
  color: white;
  font-size:xx-large;
  font-weight:bold;
}
.navbar_main_section .active{
  background-color: grey;
  color: white;
  border-radius: 3px;
}
.spotify_logo_section sup {
  font-size: small;
  position: relative;
  top: -0.8rem;
  left: 1px;
}

.navbar_main_section .sidebar_search:hover{
  color:white;
  cursor: pointer
}
.navbar_main_section .sidebar_home:hover{
  color:white;
  cursor: pointer;
  font-weight: medium;
}
.navbar_main_section .sidebar_library:hover{
  color:white;
  cursor: pointer
}
.navbar_main_section .sidebar_create_playlist:hover{
  color:white;
  cursor: pointer
}


.playlist_icon{
font-size: larger;
}


.navbar_main_section .sidebar_liked_songs:hover{
  color:white ;
  cursor: pointer
}
.navbar_main_section .liked_song_icon:hover{
  color:white ;
  cursor: pointer
}

.liked_song_icon {
background: linear-gradient(135deg,#450af5,#c4efd9);
border-radius: 2px;
height: 25px;
width: 25.61px;
text-align: center;
position: relative;
}

.liked_song_icon .bi-heart-fill{
font-size:small;
color:lightgrey;
position: relative;
top: 1px;
}

/* PSEUDO-ELEMENT STYLING RELATED TO SCROLL-BAR */
::-webkit-scrollbar {
  width: .8em
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(141, 141, 141);
}

::-webkit-scrollbar-track {
  background: transparent;
}


.user_playlist{
    overflow: auto;
    height: calc(100vh - 428px);
}

.user_playlist p:hover{
  color:white ;
  cursor: pointer
}

.playlist_border_top {
  border-top: 1px solid rgb(100, 100, 100);
}

.download_app_section:hover{
  color: white;
  cursor: pointer;
}

/* TYPOGRAPHY - TEXT CLAMP */
.text_clamp_1,
.text_clamp_2 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text_clamp_2 {
  -webkit-line-clamp: 2;
}

/* MAIN SECTION */

.col {
  overflow: auto;
}

.col>.row {
  min-width: 450px;
  height: calc(100vh - 80px);
  overflow-y: scroll;
}

.wrapper-main {
  position: absolute;
}

.col {
  background: linear-gradient(0deg, rgba(0,0,0,1) 85%, rgba(116,15,51,1) 100%);
}

/* TOP-NAVIGATION, ARROWS AND PROFILE BUTTON */

.nav-arrow-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #20202081;
  border-radius: 50%;
}
.arrow_icon {
  color: #fff;
  font-size: 1.125rem;
}

.avatar-pill {
  background:#000000;
  color: white;
}

.profile_picture{
    border-radius: 50%;
}

/* GOOD MORNING SECTION */


.good_morning_section {
    background: rgba(126, 126, 126,0.2);
    width: 350px;
    border-radius: 3px;
}

@media (max-width: 1020px) {
  .col-12 {
    width: 100%;
  }
  .good-morning-container {
    width: 100%;
  }
  .good_morning_section {
    width: 95%
  }

}


.good_morning_section img {
  margin-right: 0.8rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.good_morning_section p {
  color: #ecebe8;
}

div.good_morning_section:hover{
  background: rgb(54,54,54);
  background: linear-gradient(90deg, rgba(54,54,54,1) 19%, rgba(93,93,93,1) 30%, rgba(97,97,97,1) 100%);
  cursor: pointer;
}


/* CONTAINER RELATED BASE STYLING FOR SECTIONS */
.good_morning_container,
.recently-played-container,
.shows-to-try-container {
  display: inline-flex; 
  flex-wrap: wrap; 
  gap: 1rem;
}

/* CARD STYLING - USED WITHIN RECENTLY PLAYED AND SHOWS TO TRY SECTION */

.spotify-card {
  width: 140px;
  max-width: 140px;
  background-color: #3636362f;
}

.spotify-card img {
  width: 100%;
  object-fit: cover;
  max-height: 120px;
}

.spotify-card h6 {
  color: #ecebe8;
}

.spotify-card p {
  font-size: 0.8rem;
  color: #828282; 
}

/* CUSTOM LIKED SONGS CARD */

.liked-songs {
  background: rgb(97,33,215);
  background: linear-gradient(150deg, rgba(97,33,215,1) 5%, rgba(255,255,255,1)   100%);
  width: 100%;
  height: 120px;
  max-height: 120px;
}
.liked-songs .bi-heart-fill {
  color: white;
  font-size: 3rem;
}

/* IMG CUSTOMIZED FOR SHOWS TO TRY SECTION */
.spotify-card .podcast-img {
  border-radius: 5px;
}


/* PLAY AREA */

.play-bar {
  height: 5em;
  position:fixed;
  left: 0; 
  bottom:0; 
  background-color:rgb(46, 46, 46); 
  opacity: 1;
}

.play-bar span{
  font-size: 12px;
}

.play-bar img {
    margin-right: 20px;
  }
  .play-bar .d-flex {
    color: #fff;
    margin-top: 10px;
  }
  .play-bar > .flex-column {
    padding: 0 10px;
  }
  .play-bar .text-muted {
    font-size: 10px;
  }
  .play-bar .bi-heart {
    font-size: 12px;
    color: #fff;
    padding: 0 5px;
  }
  .play-bar .bi-pip {
    font-size: 12px;
    color: #fff;
    padding: 0 5px;
  }
  .play-bar img {
    margin-left: 20px;
  }
  .play-bar > .song-bar {
    margin-bottom: 20px;
  }
  
  .play-bar .song-bar .fa {
    color: rgb(92, 91, 91);
    font-size: 1em;
  }
  .play-bar .song-bar .bi-arrow-repeat {
    font-size: 1em;
    padding: 0 12;
    color: rgb(92, 91, 91);
    font-weight: bolder; 
  }
  
  .play-bar .bi-volume-up {
    padding: 0 5px;
    font-size: 16px;
  }
  .play-bar .bi-speaker {
    padding: 0 5px;
    font-size: 16px;
  }
  .play-bar .bi-music-note-list {
    padding: 0 5px;
    font-size: 16px;
  }
  input[type='range'] {

    width: 120px;
    -webkit-appearance: none;
    background-color: #686868;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
overflow: hidden;
    height: 6px;
    -webkit-appearance: none;
    color: #ffffff;
    margin-top: -1px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    color:transparent;
    width: 24px;
    -webkit-appearance: none;
    height: 36px;
    background: #434343;
    box-shadow: -80px 0 0 80px white;
    margin-top: -5px;
    margin-right: 5px;
    border-radius: 80%;
  }
  .band_name{
    color: rgb(34, 34, 34);
  }

  .song_info span:hover{
    color: white;
    text-decoration: underline;
    cursor:pointer
  }

  input[type=range]::-webkit-slider-thumb:hover{
    background: rgb(40, 179, 40);
    height:50px;
    width: 50px
    overflow
  }

  input[type=range]:focus::-ms-fill-lower {
    background: #ac51b5;
  }

  .fa-play-circle{
    font-size: 1.8em;
  }

  .song_bar_icons i:hover{
    color: white;
  }

  .play-bar .song-bar .fa:hover{
    color:white;
    font-size: 1.2em;
  }
  .play-bar .song-bar .bi-arrow-repeat:hover{
    color:white;
    font-size: 1.2em;
    padding:0
  
  }
  .play-bar .song-bar .fa-play-circle{
    color:white;
    font-size: 1.5em;
  }

  /* Album Page Css */
  .song_aligment{
    width: 93%;
  }
  .song_container{
    overflow: auto;
    
  }

  .col-12 hr{
    background-color: white;
  }

  .song_container_background{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.17690826330532217) 0%,
    rgba(0,0,0,0.5662640056022409) 20%, rgba(0,0,0,0.8519782913165266) 100%);
  }
