body{
    height: 100vh;
    background-color: #828282;
}

.left_navbar{
    background-color: #000000;
    color: #828282;
}

.spotify_logo{
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
}

.playlist_icon{
    width: 17px;
    height: 20px;
    background: #4b68fc;
}

.liked_song_icon{
    width: 17px;
    height: 20px;
    background: #d1d7f5;
}

.user_playlist{
    overflow: auto;
    height: 600px;
}

.text_clamp_1,
.text_clamp_2 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text_clamp_2 {
  -webkit-line-clamp: 2;
}


.profile_picture{
    border-radius: 50%;
}

.good_morning_section{
    background-color: rgb(126, 126, 126);
    width: 280px;
    max-width: 350px;
}

.good_morning_section img {
  margin-right: 0.8rem;

}

.good_morning_section p {
  color: #ecebe8;
}

.good_morning_container,
.recently-played-container,
.shows-to-try-container {
  display: inline-flex; 
  flex-wrap: wrap; 
  gap: 1rem;
}

.spotify-card {
  width: 140px;
  max-width: 140px;
  background-color: #363636;
}

.spotify-card img {
  width: 100%;
  object-fit: cover;
  max-height: 120px;
}

.liked-songs {
  background: rgb(97,33,215);
  background: linear-gradient(150deg, rgba(97,33,215,1) 5%, rgba(255,255,255,1)   100%);
  width: 100%;
  height: 120px;
  max-height: 120px;
}
.liked-songs .bi-heart-fill {
  color: white;
  font-size: 3rem;
}

.spotify-card h6 {
  color: #ecebe8;
}

.spotify-card p {
  font-size: 0.8rem;
  color: #828282; 
}

.spotify-card .podcast-img {
  border-radius: 5px;
}


.play-bar {
  height: 6rem;
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0;
  background-color: rgb(80, 80, 80);
  opacity: 1;
  z-index: 6;
}
.play-bar span {
  font-size: 12px;
}.play-bar img {
    margin-right: 20px;
  }
  .play-bar .d-flex {
    color: #fff;
    font-size: 12px;
    margin-top: 10px;
  }
  .play-bar > .flex-column {
    padding: 0 10px;
  }
  .play-bar .text-muted {
    font-size: 10px;
  }
  .play-bar .bi-heart {
    font-size: 12px;
    color: #fff;
    padding: 0 5px;
  }
  .play-bar .bi-pip {
    font-size: 12px;
    color: #fff;
    padding: 0 5px;
  }
  .play-bar img {
    margin-left: 20px;
  }
  .play-bar > .song-bar {
    margin-bottom: 20px;
  }
  
  .play-bar .song-bar .fa {
    font-size: large;
  }
  .play-bar .song-bar .bi-arrow-repeat {
    font-size: large !important;
    padding: 0 12;
  }
  
  .play-bar .bi-volume-up {
    padding: 0 5px;
    font-size: 12px;
  }
  .play-bar .bi-speaker {
    padding: 0 5px;
    font-size: 12px;
  }
  .play-bar .bi-music-note-list {
    padding: 0 5px;
    font-size: 12px;
  }
  input[type="range"] {
    overflow: hidden;
    width: 120px;
    -webkit-appearance: none;
    background-color: #434343;
    color: #434343;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    font-weight: 0px;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type="range"]::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    height: 30px;
    border-radius: 100%;
    font-size: 12px;
    cursor: pointer;
    background: #ffff;
    box-shadow: -80px 0 0 80px #ffff;
    z-index: 2;
    margin-top: -15px;
  }
  
  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #434343;
    color: #fff;
    border-radius: 100%;
    font-size: 15px;
  }
  input[type="range"]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
body {
  font-family: Verdana, Geneva, sans-serif;
}
.font-bold {
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
}
.w-24 {
  width: 160px;
  height: 45px;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0;
}
.btn {
  width: 22%;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.linea {
  margin: 0px 20px;
  width: 130px;
  border-top: 1px solid #999;
  position: relative;
  top: 10px;
  float: left;
}

.leyenda {
  font-weight: bold;
  float: left;
}
input {
  width: 22%;
  font-size: 12px;
  height: 5%;
}
.flex-grow .btn-success {
  width: 10%;
  background-color: rgb(57, 214, 97);
  border: none;
  padding-top: 10px;
  padding-right: 20px;
  text-align: center;
}
div .btn-outline-secondary {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 10px;
  border: 2px solid #999;
}
body {
  width: 100%;
  margin: 0;
  font-family: spotify-circular, spotify-circular-cyrillic,
    spotify-circular-arabic, spotify-circular-hebrew, "Helvetica Neue",
    helvetica, arial, "Hiragino Kaku Gothic Pro", Meiryo, "MS Gothic",
    sans-serif;
  line-height: 1.6;
  vertical-align: baseline;
  background: linear-gradient(
    180deg,
    rgba(88, 88, 88) 10%,
    rgba(20, 20, 20) 80%,
    rgba(18, 18, 18) 100%
  );
}
.accordion-body {
  background: linear-gradient(
    180deg,
    rgba(88, 88, 88) 0%,
    rgba(31, 31, 31) 50%,
    rgba(18, 18, 18) 100%
  );
  height: 437px;
}
.col {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.card:hover {
  transform: translateY(-3px) scale(1.05);
  cursor: pointer;
  transition: 0.5s;
}
.speaker {
  position: relative;
}
.speaker::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 6px;
  background-color: rgb(218, 209, 213);
  top: 6px;
  border-radius: 20px;
  margin-left: 2px;
}
.card {
  transition: all 0.5s;
  opacity: 0.8;
}
.card:hover {
  transform: translateY(-5px);
  opacity: 1;
}

.root-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  display: flex;
  flex-direction: column;
  min-height: 0;
  position: relative;
}

.sidebar {
  margin: 0;
  padding: 24px 0 0 0;
  width: 232px;
  display: flex;
  flex-direction: column;
  min-height: 0;
  background-color: #000;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 3;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: normal;
}

.sidebar a {
  display: block;
  color: #b3b3b3;
  text-decoration: none;
}

.sidebar a.active {
  color: white;
  background-color: #282828;
}

.sidebar a:hover:not(.active) {
  color: white;
}

div.content {
  margin-left: 232px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.logo {
  color: #fff;
  -webkit-box-flex: 1;
  border: 0;
  flex: 1;
  margin-bottom: 18px;
  padding: 0 24px;
  position: relative;
}

.logo .spotify-logo {
  height: 40px;
  max-width: 131px;
  width: 100%;
}

ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  list-style: none;
}

li {
  margin-left: -40px;
  display: list-item;
  text-align: -webkit-match-parent;
}

.test {
  padding: 0 8px 0 8px;
}

.position {
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  height: 40px;
  padding: 6px 16px 0 16px;
  color: #b3b3b3;
  vertical-align: middle;
}

.svg-icon {
  margin-right: 16px;
}

.svg-box {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 24px;
  justify-content: center;
  padding: 4px;
  position: relative;
  width: 24px;
}

.svg-box-icon {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.grad {
  background: linear-gradient(135deg, #450af5, #c4efd9);
  border-radius: 1px;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  border-style: inset;
  margin-left: 24px;
  margin-right: 24px;
  background-color: #aaa5a5;
}

.third-ul {
  margin-left: 24px;
  color: #b3b3b3;
  scrollbar-width: 50%;
}

.li-position {
  padding: 6px 0px 6px 0px;
}
.titlegm {
  color: #f1ecec;
}
.card {
  background-color: rgba(59, 56, 56, 0.349) !important;
  color: #e0dbdb;
  border-radius: 10%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: horizontal;
}
.gm {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.card-title {
  white-space: nowrap;
  width: 130px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: horizontal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.arrows button {
  border-radius: 50%;
}

.main-scroll {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  top: 0;
}

.main-scroll .navbar-toggler {
  background-color: rgba(0, 0, 0, 0.7) !important;
  border-radius: 40px;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(255, 255, 255);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

.navbar-toggler span {
  position: absolute;
  background-color: transparent;
  top: 12px;
  right: 10px;
}
.navbar-toggler p {
  position: absolute;
  top: 13px;
  right: 52px;
}

.navbar-toggler img {
  vertical-align: middle;
  border-style: none;
  left: 1px;
  position: absolute;
  top: 0px;
  height: 47px;
  border-radius: 50%;
}
@media only screen and (min-width: 1000px) {
  .shows-details {
    margin-left: -18rem;
  }
}

.container-fluid {
  margin-left: 230px;
  margin-top: 0rem;
  background-image: url("assets/portada2.jpg");
  height: 300px;
}

.text-primary h1 {
  font-size: 55px;
  font-weight: 900;
  color: #fff;
}
.container {
  margin-top: 155px;
  margin-left: -80px;
}
@media screen and (max-width: 700px) {
  .container-fluid {
    margin-left: 0;
  }
}
.row .icon {
  margin-left: -10px;
}
.icon .btn-outline-secondary {
  margin-top: -20px;
}

