body{
    height: 100vh;
    background-color: #828282;
}

.left_navbar{
    background-color: #000000;
    color: #828282;
    max-width: 250px;
    position: fixed;
    height: calc(100% - 50px)
}

.spotify_logo{
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
}
.spotify_logo_section:hover{
cursor:pointer;
}

.spotify_logo_section{
  display: flex;
  justify-content: right;
}
.spotify_logo + p{
  color: white;
  font-size:xx-large;
  font-weight:bold;
}
.navbar_main_section .active{
  background-color: grey;
  color: white;
  border-radius: 3px;
}
.spotify_logo_section sup{
  font-size: small;
}

.navbar_main_section .sidebar_search:hover{
  color:white;
  cursor: pointer
}
.navbar_main_section .sidebar_home:hover{
  color:white;
  cursor: pointer
}
.navbar_main_section .sidebar_library:hover{
  color:white;
  cursor: pointer
}
.navbar_main_section .sidebar_create_playlist:hover{
  color:white;
  cursor: pointer
}


.playlist_icon{
font-size: larger;
}


.navbar_main_section .sidebar_liked_songs:hover{
  color:white ;
  cursor: pointer
}
.navbar_main_section .liked_song_icon:hover{
  color:white ;
  cursor: pointer
}

.liked_song_icon{
font-size:large;
background: linear-gradient(135deg,#450af5,#c4efd9);
border-radius: 2px;
height: 19.2px;
width: 19px;
text-align: center;
position: relative;
}

.liked_song_icon .bi-heart-fill{
font-size:small;
color:lightgrey;
position: relative;
top:-3px;
}

body{
  overflow:overlay;
}

::-webkit-scrollbar {
  width: .8em
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(141, 141, 141);
}

::-webkit-scrollbar-track {
  background: transparent
}


.user_playlist{
    overflow: auto;
    height: 16em;
    border-top: 1px solid rgb(100, 100, 100);
}

.user_playlist p:hover{
  color:white ;
  cursor: pointer
}
.download_app_section:hover{
  color: white;
  cursor: pointer;
}

.text_clamp_1{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.profile_picture{
    border-radius: 50%;
}

.play-bar{
  height: 5em;
  position:fixed; 
  left: 0; 
  bottom:0; 
  background-color:rgb(46, 46, 46); 
  opacity: 1
}

.play-bar span{
  font-size: 12px;
}
.play-bar img {
    margin-right: 20px;
  }
  .play-bar .d-flex {
    color: #fff;
    margin-top: 10px;
  }
  .play-bar > .flex-column {
    padding: 0 10px;
  }
  .play-bar .text-muted {
    font-size: 10px;
  }
  .play-bar .bi-heart {
    font-size: 12px;
    color: #fff;
    padding: 0 5px;
  }
  .play-bar .bi-pip {
    font-size: 12px;
    color: #fff;
    padding: 0 5px;
  }
  .play-bar img {
    margin-left: 20px;
  }
  .play-bar > .song-bar {
    margin-bottom: 20px;
  }
  
  .play-bar .song-bar .fa {
    color: rgb(92, 91, 91);
    font-size: 1.5em;
  }
  .play-bar .song-bar .bi-arrow-repeat {
    font-size: 1.5em;
    padding: 0 12;
    color: rgb(92, 91, 91);
    font-weight: bolder; 
  }
  
  .play-bar .bi-volume-up {
    padding: 0 5px;
    font-size: 16px;
  }
  .play-bar .bi-speaker {
    padding: 0 5px;
    font-size: 16px;
  }
  .play-bar .bi-music-note-list {
    padding: 0 5px;
    font-size: 16px;
  }
  input[type='range'] {

    width: 120px;
    -webkit-appearance: none;
    background-color: #686868;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
overflow: hidden;
    height: 6px;
    -webkit-appearance: none;
    color: #ffffff;
    margin-top: -1px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    color:transparent;
    width: 24px;
    -webkit-appearance: none;
    height: 36px;
    background: #434343;
    box-shadow: -80px 0 0 80px white;
    margin-top: -5px;
    margin-right: 5px;
    border-radius: 80%;
  }
  .band_name{
    color: rgb(34, 34, 34);
  }

  .song_info span:hover{
    color: white;
    text-decoration: underline;
    cursor:pointer
  }

  input[type=range]::-webkit-slider-thumb:hover{
    background: rgb(40, 179, 40);
    height:50px;
    width: 50px
    overflow
  }

  input[type=range]:focus::-ms-fill-lower {
    background: #ac51b5;
  }

  .fa-play-circle{
    font-size: 1.8em;
  }

  .song_bar_icons i:hover{
    color: white;
  }

  .play-bar .song-bar .fa:hover{
    color:white;
    font-size: 1.8em;
  }
  .play-bar .song-bar .bi-arrow-repeat:hover{
    color:white;
    font-size: 1.8em;
    padding:0
  
  }
  .play-bar .song-bar .fa-play-circle{
    color:white;
    font-size: 1.8em;
  }