body{
    height: 100vh;
    background-color: #828282;
}

.left_navbar{
    background-color: #000000;
    color: #828282;
}

.spotify_logo{
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
}

.playlist_icon{
    width: 17px;
    height: 20px;
    background: #4b68fc;
}

.liked_song_icon{
    width: 17px;
    height: 20px;
    background: #d1d7f5;
}

.user_playlist{
    overflow: auto;
    height: 600px;
}

.text_clamp_1,
.text_clamp_2 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text_clamp_2 {
  -webkit-line-clamp: 2;
}


.profile_picture{
    border-radius: 50%;
}

.good_morning_section{
    background-color: rgb(126, 126, 126);
    width: 280px;
    max-width: 350px;
}

.good_morning_section img {
  margin-right: 0.8rem;

}

.good_morning_section p {
  color: #ecebe8;
}

.good_morning_container,
.recently-played-container,
.shows-to-try-container {
  display: inline-flex; 
  flex-wrap: wrap; 
  gap: 1rem;
}

.spotify-card {
  width: 140px;
  max-width: 140px;
  background-color: #363636;
}

.spotify-card img {
  width: 100%;
  object-fit: cover;
  max-height: 120px;
}

.liked-songs {
  background: rgb(97,33,215);
  background: linear-gradient(150deg, rgba(97,33,215,1) 5%, rgba(255,255,255,1)   100%);
  width: 100%;
  height: 120px;
  max-height: 120px;
}
.liked-songs .bi-heart-fill {
  color: white;
  font-size: 3rem;
}

.spotify-card h6 {
  color: #ecebe8;
}

.spotify-card p {
  font-size: 0.8rem;
  color: #828282; 
}

.spotify-card .podcast-img {
  border-radius: 5px;
}



.play-bar img {
    margin-right: 20px;
  }
  .play-bar .d-flex {
    color: #fff;
    font-size: 12px;
    margin-top: 10px;
  }
  .play-bar > .flex-column {
    padding: 0 10px;
  }
  .play-bar .text-muted {
    font-size: 10px;
  }
  .play-bar .bi-heart {
    font-size: 12px;
    color: #fff;
    padding: 0 5px;
  }
  .play-bar .bi-pip {
    font-size: 12px;
    color: #fff;
    padding: 0 5px;
  }
  .play-bar img {
    margin-left: 20px;
  }
  .play-bar > .song-bar {
    margin-bottom: 20px;
  }
  
  .play-bar .song-bar .fa {
    font-size: large;
  }
  .play-bar .song-bar .bi-arrow-repeat {
    font-size: large !important;
    padding: 0 12;
  }
  
  .play-bar .bi-volume-up {
    padding: 0 5px;
    font-size: 12px;
  }
  .play-bar .bi-speaker {
    padding: 0 5px;
    font-size: 12px;
  }
  .play-bar .bi-music-note-list {
    padding: 0 5px;
    font-size: 12px;
  }
  input[type="range"] {
    overflow: hidden;
    width: 120px;
    -webkit-appearance: none;
    background-color: #434343;
    color: #434343;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    font-weight: 0px;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type="range"]::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    height: 30px;
    border-radius: 100%;
    font-size: 12px;
    cursor: pointer;
    background: #ffff;
    box-shadow: -80px 0 0 80px #ffff;
    z-index: 2;
    margin-top: -15px;
  }
  
  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #434343;
    color: #fff;
    border-radius: 100%;
    font-size: 15px;
  }
  input[type="range"]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
